@font-face {
	font-family: "Comic Mono";
	src: url("../font/ComicMono.ttf");
}

:root {
	--body-text: "Atkinson Hyperlegible";
	--heading-text: Dynapuff;
	--mono-text: "Comic Mono";
	--theme-pink: hsla(343, 100%, 76%, 1);
	--theme-orange: hsla(12, 100%, 76%, 1);
	--theme-yellow: hsla(64, 100%, 76%, 1);
	--theme-green: hsla(152, 100%, 76%, 1);
	--theme-blue: hsla(218, 100%, 76%, 1);
	--theme-purple: hsla(252, 100%, 76%, 1);
	--theme-violet: hsla(283, 100%, 76%, 1);
	--stripe-width: 15px;
	--start-position-center-stripe: calc(50% - 30px);
	--light-source-angle: 315deg;
	--shadow-color: 180deg 0% 0%;
	--shadow-elevation-low:
		1px 1px 1.5px hsl(var(--shadow-color) / 0.39),
		1.7px 1.7px 2.6px -1.3px hsl(var(--shadow-color) / 0.37),
		4.1px 4.1px 6.3px -2.7px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-medium:
		1px 1px 1.5px hsl(var(--shadow-color) / 0.41),
		3.2px 3.2px 5px -0.9px hsl(var(--shadow-color) / 0.4),
		8.3px 8.3px 12.9px -1.8px hsl(var(--shadow-color) / 0.38),
		20.6px 20.6px 31.9px -2.7px hsl(var(--shadow-color) / 0.37);
	--shadow-elevation-high:
		1px 1px 1.5px hsl(var(--shadow-color) / 0.38),
		5.7px 5.7px 8.8px -0.4px hsl(var(--shadow-color) / 0.38),
		10.8px 10.8px 16.7px -0.8px hsl(var(--shadow-color) / 0.37),
		18.1px 18.1px 28px -1.2px hsl(var(--shadow-color) / 0.36),
		29.5px 29.5px 45.7px -1.5px hsl(var(--shadow-color) / 0.36),
		46.7px 46.7px 72.3px -1.9px hsl(var(--shadow-color) / 0.35),
		71.6px 71.6px 110.9px -2.3px hsl(var(--shadow-color) / 0.34),
		106px 106px 164.1px -2.7px hsl(var(--shadow-color) / 0.33);
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

/* html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
} */



/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}


body {
	overflow-x: hidden;
	font-family: var(--body-text);
	margin: 0;
	background-image: linear-gradient(135deg,
			var(--theme-violet) calc(90% - 30px),
			var(--theme-purple) calc(90% - 30px) calc(90% - 20px),
			var(--theme-blue) calc(90% - 20px) calc(90% - 10px),
			var(--theme-green) calc(90% - 10px) 90%,
			var(--theme-yellow) 90% calc(90% + 10px),
			var(--theme-orange) calc(90% + 10px) calc(90% + 20px),
			var(--theme-pink) calc(90% + 20px));
	background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-text);
}

/* h1 {
	background: linear-gradient(
	  135deg,
	  var(--theme-violet) 14%,
	  var(--theme-purple) 14% 28%,
	  var(--theme-blue) 28% 42%,
	  var(--theme-green) 42% 56%,
	  var(--theme-yellow) 56% 70%,
	  var(--theme-orange) 70% 85%,
	  var(--theme-pink) 85%
	);
	background-clip: text;
	color: transparent;
	-webkit-text-stroke: 1px #444444;
	
  } */

pre,
code,
kbd,
tt,
samp {
	font-family: var(--mono-text);
}

header {
	display: flex;
}

article>header {
	flex-wrap: wrap;
	justify-content: center;
}

header.page-header {
	position: sticky;
	top: 0;
	text-align: right;
}

header.page-header a {
	text-decoration: none;
}

.rainbow {
	background: linear-gradient(135deg,
			var(--theme-violet) 14%,
			var(--theme-purple) 14% 28%,
			var(--theme-blue) 28% 42%,
			var(--theme-green) 42% 56%,
			var(--theme-yellow) 56% 70%,
			var(--theme-orange) 70% 85%,
			var(--theme-pink) 85%);
	background-clip: text;
	color: rgba(0, 0, 0, 1);
	transition: 0.3s;
}

.rainbow:hover {
	color: rgba(0, 0, 0, 0.5);
}

header.page-header,
footer.page-footer {
	display: flex;
	justify-content: center;
	padding: 0.3em 1em;
	align-items: center;
	background-color: #ffffff;
}

main {
	min-height: calc(100vh - 9em);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 1em auto;
}

.shadow-low {
	box-shadow: var(--shadow-elevation-low);
}

.shadow-medium {
	box-shadow: var(--shadow-elevation-medium);
}

.shadow-high {
	box-shadow: var(--shadow-elevation-high);
}

article {
	padding: 1em 2em;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 1em;
	max-width: 100%;
	border-radius: 0.5em;
}

header>img {
	height: 50px;
	border-radius: 50%;
}

article>section {
	width: 100%;
}

.mobile {
	display: unset;
}

.desktop {
	display: none;
}

picture img {
	width: 598px;
}

/* desktop */

@media screen and (min-width: 600px) {
	body {
		background-image: linear-gradient(135deg,
				var(--theme-violet) calc(80% - 45px),
				var(--theme-purple) calc(80% - 45px) calc(80% - 30px),
				var(--theme-blue) calc(80% - 30px) calc(80% - 15px),
				var(--theme-green) calc(80% - 15px) 80%,
				var(--theme-yellow) 80% calc(80% + 15px),
				var(--theme-orange) calc(80% + 15px) calc(80% + 30px),
				var(--theme-pink) calc(80% + 30px));
	}

	main {
		max-width: 20em;
		min-width: 550px;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: unset;
	}

	header.page-header,
	footer.page-footer {
		justify-content: space-between;
	}
	picture img {
		width: 600px;
	}
}